@font-face {
    font-family: 'Pretendard"';
    src: url("./Pretendard-Regular.subset.woff2") format(woff2),
    url("./Pretendard-Regular.subset.woff") format(woff);
    font-weight: 400;
    font-style: normal;
}
/* Neo-Brutalism Scrollbar */
::-webkit-scrollbar { width: 16px; height: 16px; background: #ffffff; border-left: 3px solid #000000; border-top: 3px solid #000000; }
::-webkit-scrollbar-track { background: #ffffff; }
::-webkit-scrollbar-thumb { background: #000000; border: 3px solid #ffffff; box-shadow: inset -2px -2px 0px 0px rgba(255, 255, 255, 0.5); }
::-webkit-scrollbar-thumb:hover { background: #FF0000; }
::-webkit-scrollbar-corner { background: #ffffff; border: 3px solid #000000; }
